body {
    font-family: "Playfair Display", serif;
  }
  
  .site-header {
    background: black url("../images/header-bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  
  .logo {
    position: absolute;
    bottom: 7rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .video-trailer .btn {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
  }
  
  .nav {
    text-align: center;
  }
  
  .nav li {
    display: inline-block;
  }
  
  .site-header-text {
    padding: 7rem 0 5rem;
    text-align: center;
  }
.site-header-text h2 {
    font-style: italic;
    font-family: $font-family;
    color: #233646;
    font-size: 2.3rem;
}
  .site-header-text h4{
    letter-spacing: 1px;
    text-transform: uppercase;    
  }
  
  .endorsements {
    background: white url("../images/bottombg.jpg") no-repeat left center;
    height: 100vh;
    position: relative;
  }
  
  .cards {
    margin: 0 auto;
    max-width: 1200px;
    .movie  .thumbnail {
      background: #BFACAC;
      background: linear-gradient(to bottom, #BFACAC 0%, #BFACAC 50%, #ffffff 50%, #ffffff 100%);
      
    }
    .book .thumbnail {
      background: #1A3150;
      background: linear-gradient(to bottom, #1A3150 0%, #1A3150 50%, #ffffff 50%, #ffffff 100%);
      
    }

  }
  
  .cards .thumbnail {
    padding: 2rem;
    border: 0;
    background: #cbedd8;
    background: linear-gradient(to bottom, #E8DAAE 0%, #E8DAAE 50%, #ffffff 50%, #ffffff 100%);
    z-index: 1;
    position: relative;
    text-align: center;
  }
  
  .cards .thumbnail img {
    height: 420px;
  }
  
  .product-section {
    padding-bottom: 8rem;
    position: relative;
    .visit-store {
      clear: both;
      text-align: center;
      margin: 0 auto;
      padding-top: 5rem;
      a {
        float: none;
      }
    }
  }
  
  .cards:after {
    content: '';
    background: #efefef;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 58%;
    z-index: -1;
  }



  .trailer-section {
      background: lightblue;
      padding: 5rem;
  }
  