
// Site Header 
.site-header {
  background: black url("../images/header-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
  .navbar {
    border:0;
    background: none;
    @media only screen and (min-width : 768px) {
      background: rgba(0, 0, 0, 0.25);
    }
    .navbar-header {
      background: rgba(0, 0, 0, 0.25);
    }
    .nav {
      float: none;
    }
     .navbar-collapse,.navbar-form {
      background: rgba(0, 0, 0, 0.65);
      border: 0;
      height: 100vh;
      position: relative;
      z-index: 999;
      padding: 2rem 0;
      @media only screen and (min-width : 768px) {
        background: none;
        padding: 1rem 0;
      }
      li {
        padding: .2rem 0;
        float: none;
        a {
          color: #fff;
          &:hover {
          @media only screen and (min-width : 768px) {
            text-shadow: 3px 3px 11px rgba(0,0,0,1);
         }
        }
        }
      }      
    }
    .navbar-toggle {
      border: 0;
      background: none;
    }
    .icon-bar {
      background-color: #fff;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    }
  }
  .nav {
    text-align: center;
    font-size: 1.5em;
    a {
      color: #fff;
      @media only screen and (min-width : 768px) {
         text-shadow: 1px 1px 11px rgba(0,0,0,0.7);
      }
    }
    li {
      @media only screen and (min-width : 768px) {
        display: inline-block;
      }
    }
  }

  .video-trailer .btn {
    position: absolute;
    left: 1rem;
    top: 0.65rem;
    font-size: .7em;
    @media only screen and (min-width : 768px) {
      left: 2rem;
      bottom: 2rem;
      top: auto;
      font-size: 1rem;
    }
  }

}
.site-header-text {
  padding: 4rem 0 3rem;
  @media only screen and (min-width : 768px) {
    padding: 8rem 0 7rem;
  }
  text-align: center;
  h2 {
    font-style: italic;
    font-family: $font-family;
    color: #233646;
    font-size: 2rem;
    @media only screen and (min-width : 768px) {
      font-size: 2.3rem;
    }
  }
  h4 {
    letter-spacing: 1px;
    text-transform: uppercase;  
  }
}

.logo {
  position: absolute;
  bottom: 2rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 260px;
  @media only screen and (min-width : 768px) {
    bottom: 5rem;
    max-width: none;
  }
}


// Product Cars
.cards {
  margin: 0 auto;
  max-width: 1200px;
  .card .thumbnail {
    overflow: hidden;
    position: relative;
    padding: 2rem;
    border: 0;
    z-index: 1;
    text-align: center;
    &:before {
      content: '';
      position: absolute;
      width: 200%;
      bottom: 46%;
      right: 50%;
      left: -50%;
      opacity: 0;
      height: 42%;        
      z-index: -1;
      filter: blur(30px);
      transition: all .25s linear;
    }
    img {
    }
  }
  .movie .thumbnail {
    position: relative;
    background: #BFACAC;
    background: linear-gradient(to bottom, #BFACAC 0%, #BFACAC 50%, #BFACAC 50%, #ffffff 100%);
    @media only screen and (min-width : 768px) {
      background: linear-gradient(to bottom, #BFACAC 0%, #BFACAC 50%, #ffffff 50%, #ffffff 100%);
    }
  }
  .book .thumbnail {
    background: #506d94;
    background: linear-gradient(to bottom, #506d94 0%, #506d94 50%, #506d94 50%, #ffffff 100%);
    @media only screen and (min-width : 768px) {
      background: linear-gradient(to bottom, #506d94 0%, #506d94 50%, #ffffff 50%, #ffffff 100%);
    }
  }
  .audio .thumbnail {
    background: #E8DAAE;
    background: linear-gradient(to bottom, #E8DAAE 0%, #E8DAAE 50%, #E8DAAE 50%, #ffffff 100%);
    @media only screen and (min-width : 768px) {
      background: linear-gradient(to bottom, #E8DAAE 0%, #E8DAAE 50%, #ffffff 50%, #ffffff 100%);
    }
  }

  .card {
    margin: 0 auto 5rem;
    @media only screen and (min-width : 768px) {
      margin: 0 auto;
    }
    img {
      max-width: 320px;
      width: 100%;
      @media only screen and (min-width : 768px) {
        max-width: none;        
      }
    }
    &:hover img {
      transition: all .25s linear;
      transform: scale(1.05);
    }
    &:hover .thumbnail {
      &:before {
        opacity: 1;
        bottom: 40%;
        transition: all .25s linear;        
      }
    }
    &:hover.movie .thumbnail:before {
      background: #988888;
    }
    &:hover.book .thumbnail:before {
      background: #3d6090;
    }
    &:hover.audio .thumbnail:before {
      background: #C9BC93;
    }
    img {
      transition: all .25s linear;
      transform: scale(1);
    }
  }
  .btn-group {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  .btn-group>.btn {
    float: none;
    margin: 0 -4px;
  }
  .btn {
    padding: 10px 18px;
    border-radius: 2px;
  }

}


// Product Section BG Grad
.cards:after {
  @media only screen and (min-width : 768px) {
  content: '';
  background: #efefef;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 48.5%;
  z-index: -1;
  }
}



/// STORE BUTTON
.product-section {
  padding-bottom: 4rem;
  @media only screen and (min-width : 768px) {
    padding-bottom: 8rem;
  }
  position: relative;
  .visit-store {
    clear: both;
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;
    @media only screen and (min-width : 768px) {
      padding-top: 5rem;
    }
    a {
      float: none;
      background-image: linear-gradient(50deg, #B3A9A7 0%, #90909B 26%, #183654 100%);
      border-radius: 4px;
      padding: 1.5rem 3.4rem;
      font-style: italic;
      font-size: 1.4rem;
      border: 0;
      box-shadow: inset 0 0 0 8px rgba(255,255,255,0.25);
      transition: all .3s linear;
      &:hover {
        box-shadow: inset 0 0 0 8px rgba(255,255,255,0.05);        
        transition: all .3s linear; 
        text-shadow: 1px 1px 10px rgba(0,0,0,0.7);       
      }
    }
  }
}


.wrap {
  max-width: 1200px;
  padding: 1rem ;
  margin: 0 auto;
}

.calls {
  background: black url("../images/wood.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .wrap {
    padding: 1rem ;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      display: flex;
      padding: 5rem 0;
    }
  }
  .call {
    background: #000;
    padding: 1rem;
    text-align: center;    
    position: relative;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 1rem;
    &:hover {
      box-shadow: 2px 2px 18px rgba(0,0,0,1);
      transition: box-shadow 0.3s ease-in-out;
    }
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      padding: 1.5rem;
      margin: 0 3rem;
    }
    .call-inner-content {
      @include breakpoint($bp-medium, $no-query: ".no-mq") {
        padding: 1.5rem;
        border: 1px solid rgba(255, 255, 255, 0.40);
        
      }
    }
    * {
      position: relative;
      
    }
    h2 {
      font-size: 1.8rem;
      font-style: italic;
      font-family: $font-family;
      color: #fff;
      @media only screen and (min-width : 768px) {
        font-size: 2.2rem;
      }
    }
    h3 {
      text-transform: uppercase;
      color: #fff;
      font-size: 1rem;
      letter-spacing: 2px;
      border-bottom: 1px solid #fff;
      display: inline-block;
      padding-bottom: 1em;
      
    }
    .tag-line {
      text-transform: uppercase;
      color: #fff;
      font-size: 1rem;
      font-family: $heading-font-family;
      margin-bottom: 3rem;
      @media only screen and (min-width : 768px) {
        font-size: 1.2rem;
      }
    }
    blockquote {
      color: #fff;
      text-align: left;
      font-style: italic;
      padding: 0 20px;
      border-left: 0;
      @media only screen and (min-width : 768px) {
        font-size: 1.2rem;
        padding: 0 30px;
      }
    }
    &:first-child {
      background: linear-gradient(to bottom, #c4b2b1 0%,#a08987 100%);
      @media only screen and (min-width : 768px) {
      }
      
      .btn {
        background-image: linear-gradient(to bottom, #92807f 0%, #826d6c 100%);        
      }
    }
    &:last-child {
      background: linear-gradient(to bottom, #E8DAAE 0%, #C9BC93 100%);
      @media only screen and (min-width : 768px) {
      }
      .btn {
        background:linear-gradient(to bottom, #c0b38f 0%, #a89e7d 100%);
      }
    }
    .btn {
      margin-top: 4rem;
        float: none;
        border-radius: 4px;
        padding: 1.5rem 0;
        font-style: italic;
        font-size: 1rem;
        border: 0;
        transition: all .3s linear;
        color: #fff;
        &:hover {
          transition: all .3s linear; 
          text-shadow: 1px 1px 10px rgba(0,0,0,0.7);       
        }
    }
  }
}


// Signup Section
.signup-section {
    background: #EFF7FC;
    padding: 1rem 0 13rem;
    
    background: #EFF7FC url('../images/video-bg.png') no-repeat left bottom;
    background-size: 60%;

    @media only screen and (min-width : 992px) {
      background: #EFF7FC url('../images/video-bg.png') no-repeat left top;
      padding: 7rem 0;
      background-size: contain;
    }
    form {
      background: #fff;
      padding: 2rem;
      box-shadow: 2px 3px 45px rgba(0,0,0,0.3);
      border-radius: 4px;
      
      h4 {
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 1rem;
      }
      h2 {
        font-style: italic;
        font-family: "Playfair Display", serif;
        color: #233646;
        font-size: 2rem;
        margin-top: 0;
        margin-bottom:2rem;
      }
      input, label {
        font-family: $heading-font-family;
      }
      button {
        font-family: $heading-font-family;
        padding: 13px 35px;
        background-color: #0f8adb;
        color: #fff;
        font-weight: 700;
        &:hover {
          background: darken(#0f8adb, 10%);
          color: #fff;
        }

      }
    }
}


.soc {
  text-align: center;
  padding: 4rem 0;
}

.soc li {
  width: 30px;
  display: inline-block;
  list-style: none;
}