html {
  font: $font-weight #{$font-size + "%"}/#{$line-height} $font-family;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
    html {
      font: normal 100%/1.65 "Playfair Display", serif;
      
    }
}


body {
  color: $body-copy-color;
  font-family: $font-family;
}

p {
  margin: auto auto $indent-val;
  // Conditonal Check For Paragraph Styling
  @if $paragraph-vertical-whitespace == false {
    & + p {
      //siblings indentation
      margin-top: -0.5em;
    }
  }
}